@font-face {
  font-family: 'EBGaramondBold';
  src: url('/src/fonts/EBGaramond-Bold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'EBGaramondSemi';
  src: url('/src/fonts/EBGaramond-SemiBold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'EBGaramond';
  src: url('/src/fonts/EBGaramond-Regular.ttf') format('truetype'); 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR RETANGULAR CENTRALIZADA */
header {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar {
  background: rgba(255, 255, 255, 0.13); /* fundo semi-transparente */
  backdrop-filter: blur(20px); /* efeito glass */
  -webkit-backdrop-filter: blur(20px);
  border-radius: 30px;
  padding: 10px 30px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-family:monospace;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.navbar li a:hover {
  color: rgb(102, 102, 102);
  
}

/* MAIN AJUSTADO PARA HEADER FIXO */
main {
  padding-top: 120px;
}

/* OUTROS ESTILOS */
.section1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main h1 {
  font-family: 'EBGaramondSemi', sans-serif;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 500px;
  max-width: 100%;
}

p {
  font-family: 'EBGaramond', sans-serif;
}

.textoPrincipal{
  display: flex;
  align-items: center;
  padding-left: 340px;
  padding-top: 130px;
  font-size: 25px;
}

.sessao1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.textoSessao1{
  max-width: 500px;
  padding-top: 20px;
}

.textoSessao1 p {
  margin-bottom: 20px;
}

.sessao2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.textoSessao2{
  max-width: 500px;
  padding-top: 20px;
}

.textoSessao2 p {
  margin-bottom: 20px;
}