* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
}
/* variaveis */
:root {
  --main-bg-color: #fdfff0;
  --second-bg-color: #a6c8ad;
  --complementary-color: #325947;
  --main-text-color: #262626;
  
}
/* logo */
.titulo-cabecalho {
  font-family: 'EB Garamond';
  font-weight: 900;
  font-size: 75px;
  color: var(--main-text-color);
  padding-left: 500px; 
  padding-top: 25px;
}


body {
  font-family:'Poppins';
  background-color: var(--main-bg-color);
}

/* cabeçalho */
header {
  position: fixed;
  top: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.navbar {
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.336);
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #1e2630;
  font-family:monospace;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 40px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.navbar li a:hover {
  color: #6d6d6d;
}

/* seletor de tema */
.radio-inputs {
  position:absolute;
  top: 45px;      
  right: 400px;     
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  background-color: #dfe0d92c;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: var(--main-text-color);
  font-family: monospace;
  transition: all .15s ease-in-out;
  font-weight: bold;
}

.radio-inputs .radio input:checked + .name {
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.336);
}

/* main ajustado pro header fixo */
main {
  padding-top: 120px;
}


.sessao1 {
  display: flex;
  align-items: flex-start; /* Centraliza verticalmente */
  justify-content: space-between; /* Espaça os dois lados */
  gap: 60px;
  padding: 80px 100px; /* Espaçamento interno mais proporcional */
}

.texto-sessao1 {
  margin-left: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tagline {
  text-decoration: underline;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  color: var(--main-text-color);
  margin-bottom: 16px;

}

.texto-titulo {
  font-size: 32px;
  text-align: left;
  margin-bottom: 16px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1.6s ease-out forwards;
}

.texto-titulo h1 {
  font-family: 'EB Garamond';
  color: var(--main-text-color);
}

.texto-sessao1 p {
  font-size: 20px;
  line-height: 1.6;
  color: #444;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.notebook-sombra-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.notebook-sombra {
  position: absolute;
  top: 12%;
  transform: translateX(-50%);
  width: 120%;
}
.notebook-img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.img-container img {
  width: 70%;
  height: auto;
  opacity: 0;
  filter: blur(10px);
  transform: scale(1.05);
  animation: fadeSlideIn 1.5s ease-out forwards;
  animation: blurFadeIn 1s ease-out forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main h1 {
  font-family: 'EBGaramondBold', sans-serif;
}


.scroll-animada {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-out;
}

.scroll-animada.mostrar {
  opacity: 1;
  transform: translateY(0);
}

@keyframes blurFadeIn {
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

img {
  height: 500px;
  max-width: 100%;
}

.sessao2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  text-align: center; /* Centraliza o texto */
  background-color: var(--second-bg-color);
}

.texto-sessao2 {
  max-width: 900px;
  width: 100%;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  text-align: center; /* Centraliza o texto dos blocos */
}

.texto-sessao2 > div {
  flex: 1;
  min-width: 220px;
}
.texto-sessao2 h3 {
  font-family: 'Archivo';
  font-size: 25px;
  margin-bottom: 20px;
}
.texto-sessao2 p {
  margin-bottom: 20px;
}
.texto-sessao2 img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.sessao3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-left: 340px;
  padding-right: 80px;
  gap: 100px;
  flex-wrap: wrap;
}

.texto-topico {
  flex: 1;
}

.lista-topico {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.lista-topico li {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  font-family: 'EBGaramond', serif;
}

.lista-topico li strong {
  display: inline-block;
  width: 30px;
  color: #888;
}


button {
  font-family: monospace;
  font-size: 20px;
  color: #252525;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #252525;
  background: #fdfff0;
  box-shadow: 3px 3px #252525;
  cursor: pointer;
  margin: 35px 0;
  width: 180px;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.imagem-slideshow {
 position: relative;
 width: 100%;
 max-width: 500px; 
 height: auto; 
 margin-right: 160px;
}

.fade {
 animation-name: fade;
 animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container-progress {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 292px;
  height: 10px;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.253);
}

.progress-bar {
  height: 50%;
  margin: 2px;
  background-color: #5c7461;
  border-radius: 5px;
  transition: width linear; 
}